/* Layout */
body {
  width: 1024px;
  margin: auto;
  font-family: "Trebuchet MS", Arial, sans-serif;
  background: url(images/rts-fullstripe1024.png) repeat-y center;
}

#header {
  height: 450px;
  background: url(images/rock-tree-sky-bg.jpg) no-repeat;
}

#header img {
  position: relative;
  top: 120px;
  left: 290px;
}

#sidebar {
  width: 263px;
  float: left;
  padding-left: 22px;
}

#content {
  width: 600px;
  margin-left: 330px;
}

#bottom-bar {
  padding-top: 50px;
}

.region-bottom-left {
  width: 280px;
  float: left;
}

.region-bottom-right {
  width: 250px;
  float: right;
}

#footer {
  padding: 15px;
}

/* Links */
a {
  color: #7e4723;
  text-decoration: none;
}

a:hover {
  background: #CADDED;
}

#content .node .content a {
  color: #0B5DBF;
}

#header a:hover {
  background: none;
}

#sidebar .block a:hover {
  background: #eee;
}

a.feed-icon:hover {
  background: none;
}

/* Nodesy stuff */
#content .node .content img {
  border: solid 1px #222;
  padding: 5px;
  margin: 5px 15px;
}

#content .node .image {
  text-align: center;
  margin: 20px 0 15px 0;
}

#content .caption {
  font-style: italic;
  font-size: .9em;
  color: #444;
  text-align: center;
}

#content .content table#attachments {
  margin-bottom: 30px;
  width: 100%; 
}

.meta {
  width: 100%;
  padding-top: 10px;
}

.meta {
  font-size: .8em;
}

.submitted {
  color: #666;
}

.node .meta .tags .field-item {
  display: inline;
  padding-right: 1em;
}

.field-name-field-transcript {
  margin-top: 20px;
  background-color: #eee;
  padding: 10px;
}

/* Override core clearing
.node-form .standard {
  clear: none;
}
*/

/* Comments */
#content .comment {
  margin-top: 20px;
  border: solid 1px #ddd;
  background: #ECEFF8;
  padding: 0 15px 15px 15px;
}

#content .comment h3 {
  margin: 15px 0 10px 0;
}

#content .comment-by-node-author {
  border: solid 1px #C9B8AF;
  background: #E0D3CE;
}

#content .comment .submitted {
  font-size: .8em;
}

fieldset#edit-comment-body-und-0-format {
  display: none;
}

/* Front page post table */
.view-frontpage .views-table {
  width: 100%;
  margin-top: 25px;
}

.view-frontpage .views-table th {
  font-size: 1.2em;
  color: #222;
}

.view-frontpage .views-table tr.even,
.view-frontpage .views-table tr.odd {
  background: none;
  border: none;
}

.view-frontpage .views-table tr.even:hover,
.view-frontpage .views-table tr.odd:hover {
  background: #DFEFD1;
}

.view-frontpage .views-table td {
  padding: 8px 0;
}

.view-frontpage .views-table a:hover {
  background: none;
}

.view-frontpage .views-table td.views-field-title {
  font-size: 1.2em;
}

.view-frontpage .views-table td.views-field-created {
  color: #666;
}

.view-frontpage .item-list ul.pager {
  clear: none;
}

/* Pagers */
.item-list ul.pager {
  margin-top: 20px;
  text-align: left;
}

.item-list ul.pager li {
  margin: 0 2px;
  padding: 3px;
}

ul.pager li.pager-current {
  background: #ddd;
}

ul.pager li.pager-item:hover {
  background: #CADDED;
}

/********************************
  Sidebar stuff
********************************/
#sidebar ul.menu {
  padding-left: 0;
}

#sidebar ul.menu li.leaf,
#sidebar ul li {
  list-style: none;
  margin-left: 0;
}

/* Search */
form#search-theme-form input.form-text {
  float: left;
  width: 15em;
  margin-right: 15px;
}

/* Sidebar blocks */
.block p {
  margin-bottom: 0;
}

/* Social thingies */
#block-block-15 img {
  margin-right: 10px;
}

/* TagClouds */
.block-tagclouds {
  text-align: center;
}

.tagclouds-term {
  padding: 2px;
}

.block-tagclouds a.level1,
.block-tagclouds a.level2 {
  color: #888;
}

.block-tagclouds a.level3,
.block-tagclouds a.level4 {
  color: #666;
}

.block-tagclouds a.level5,
.block-tagclouds a.level6 {
  color: #444;
}

/* Flickr badge */
#flickr_badge_uber_wrapper {
  padding: 15px 0;
  height: 215px;
}

.flickr_badge_image {
  width: 75px;
  float: left;
  margin-bottom: 7px;
}

#flickr_badge_image1,
#flickr_badge_image4,
#flickr_badge_image7 {
  margin-right: 12px;
}

#flickr_badge_image3,
#flickr_badge_image6,
#flickr_badge_image9 {
  margin-left: 12px;
}

/* Recent comments block */
#block-views-comments-recent-block h2 {
  margin: 0;
  font-size: 1.1em;
  color: #222;
}

#block-views-comments-recent-block .item-list ul {
  padding: 0;
}

#block-views-comments-recent-block .item-list ul li {
  list-style: none;
  margin: 0 0 15px;
}

#block-views-comments-recent-block .views-field-title {
  font-size: .8em;
}

#block-views-comments-recent-block .views-field-timestamp {
  font-size: .8em;
  color: #666;
}

/* random tweaky bits */
.profile {
  clear: none;
}
